.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar-container {
    margin: 20px 10px 20px 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.company-name1 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.company-name2 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.navbar-left {
    display: flex;
    flex-direction: column;
}

.nav-btn {
  padding: 10px 20px;
  border: none;
  background: #ff6600;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  height: 2.5rem;
}

.nav-btn:hover {
  background: #ff6600;
  color: #fff;
}
